.App {
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(240, 240, 240);
}

* {
  margin: 0
}

.sigCanvas {
  border: 1px solid black;
  border-radius: 8px;
  margin-bottom: 12px;
}